<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}" lang="en">
<div layout:fragment="content">
    <div class="card">
        <div class="card-body">
            <div class="card-title">List Page</div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Num</th>
                    <th scope="col">Title</th>
                    <th scope="col">Writer</th>
                    <th scope="col">RegDate</th>
                    <th scope="col">HitCount</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="board:${boardList}">
                    <td>[[${board.num}]]</td>
                    <td><a th:href="@{/board/read(num=${board.num})}">[[${board.title}]]</a></td>
                    <td>[[${board.writer}]]</td>
                    <td>[[${board.regdate}]]</td>
                    <td>[[${board.hitcount}]]</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
