<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}" lang="en">
<div layout:fragment="content">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">아이템 등록</h5>
      <form action="/item/register" method="post">
        <div class="input-group mb-3">
          <span class="input-group-text">ItemName</span>
          <input type="text" name="itemNm" class="form-control" placeholder="ItemName">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">Price</span>
          <input type="text" name="price" class="form-control" placeholder="Price">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">StockNumber</span>
          <input type="text" name="stockNumber" class="form-control" placeholder="StockNumber">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">ItemDetail</span>
          <textarea name="itemDetail" class="form-control col-sm-5" rows="5"></textarea>
        </div>
        <label for="sellStatus" class="form-label">SellStatus:</label>
        <input class="form-control" list="itemSellStatus" name="sellStatus" id="sellStatus">
        <datalist id="itemSellStatus">
          <option value="판매중">
          <option value="판매완료">
          <option value="입고대기">
        </datalist>
        <div class="input-group mb-3">
          <span class="input-group-text">Memo</span>
          <textarea name="memo" class="form-control col-sm-5" rows="5"></textarea>
        </div>
        <div class="input-group mb-3">
          <button type="submit" class="btn btn-primary">상품 등록</button>
          <button type="reset" class="btn btn-secondary">리셋</button>
          <a th:href="@{/item/list}">
            <button type="button" class="btn btn-info">상품 목록</button>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>